@import "/src/Styles/_variables";
@import "/src/Styles/_mediaQuery";

.Pagination {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  @include for-size(phone-only) {
    flex-direction: column;
    gap: 1rem;
  }
  &__pageNumber {
    font-weight: 500;
    font-size: 0.9rem;
    color: #344054;
  }

  &__buttonContainer {
    display: flex;
    gap: 1rem;

    button[disabled] {
      opacity: 0.6;
      cursor: auto;
    }
  }
}
