.Dashboard {
  padding: 2rem 0rem;
  &__title {
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
  }

  &__StatContainer {
    width: 100%;
    margin-bottom: 2rem;
  }
}
