@import "/src/Styles/_variables";
@import "/src/Styles/_mediaQuery";
.TableContainer {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  @include for-size(phone-only) {
    overflow-x: scroll;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    thead {
      background: #f9fafb;
      tr > th {
        font-weight: 500;
        font-size: 0.9rem;
        color: #667085;
        padding: 1rem;
        border-bottom: 1px solid #eaecf0;

        &:nth-of-type(1) {
          width: 20%;
        }
        &:nth-of-type(2) {
          width: 20%;
        }
        &:nth-of-type(3) {
          width: 10%;
        }
        &:nth-of-type(4) {
          width: 10%;
        }
        &:nth-of-type(5) {
          width: 10%;
        }
        &:nth-of-type(6) {
          width: 10%;
        }
        &:nth-of-type(7) {
          width: 20%;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background: #f9fafb69;
          cursor: pointer;
        }
        td {
          padding: 1.5rem 1rem;
          text-align: center;
          font-weight: 400;
          font-size: 0.9rem;
          border-bottom: 1px solid #eaecf0;

          .active,
          .expired {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: fit-content;
          }

          .active {
            background: #ecfdf3;
            border-radius: 1rem;
            padding: 2px 8px 2px 6px;
            text-align: center;
            color: #027a48;
            font-size: 1rem;
          }

          .expired {
            padding: 2px 8px 2px 6px;
            background: #f2f4f7;
            border-radius: 1rem;
            color: #344054;
            font-size: 1rem;
          }

          .icon {
            color: #667085;
            font-size: 1.2rem;
            margin: 0rem 0.3rem;
            &:hover {
              color: #3f4552;
            }
          }
        }
      }
    }
  }
}
