@import "/src/Styles/_variables";
@import "/src/Styles/_mediaQuery";
.TableContainer {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  @include for-size(phone-only) {
    overflow-x: scroll;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    thead {
      background: #f9fafb;
      tr > th {
        font-weight: 500;
        font-size: 0.9rem;
        color: #667085;
        padding: 1rem;
        border-bottom: 1px solid #eaecf0;
      }
    }
    tbody {
      tr {
        &:hover {
          background: #f9fafb69;
          cursor: pointer;
        }
        td {
          padding: 1.5rem 1rem;
          text-align: center;
          font-weight: 400;
          font-size: 0.9rem;
          border-bottom: 1px solid #eaecf0;
        }
      }
    }
  }
}
