@import "/src/Styles/_variables";
@import "/src/Styles/_mediaQuery";
.Header {
  width: 100%;
  min-height: 100px;
  background: $colorLandingBG;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    color: #e7e8ec;
    gap: 1rem;
    img {
      width: 30px;
      height: auto;
      @include for-size(phone-only) {
        width: 25px;
      }
    }

    p {
      font-size: 1.2rem;
      font-family: $logoFont;

      @include for-size(phone-only) {
        font-size: 1rem;
      }
    }
  }

  &__loginContainer {
    button {
      color: white;
      padding: 1rem 2rem;
      font-size: 1rem;
      border: 1px solid white;
      background: transparent;
      border-radius: 10px;
      @include for-size(phone-only) {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
