.Dropzone {
  border: 3px dashed #cccccc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__contentBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    img {
      width: max(10%, 100px);
      height: auto;
    }
    p {
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      letter-spacing: 0.1em;
      color: #453994;
    }
  }
}

.active {
  transform: scale(1.01);
}
