@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "/src/Styles/_variables";

@import "/src/Styles/mediaQuery";

@import "/src/Styles/dialogMUI";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: $mainFont;
}

._ptr {
  cursor: pointer;
}

._container {
  padding: 1rem 10%;
  @include for-size(phone-only) {
    padding: 1rem 5%;
  }
}

._titleText {
  font-family: $mainFont;
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    font-size: 2.2rem;
    display: flex;
    cursor: pointer;
  }
}

._headerText {
  font-family: $mainFont;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}

._subText {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: black;
}

._card {
  background: #ffffff;
  border: 1px solid #e5e9eb;
  border-radius: 10px;
}

._buttonFill {
  background: $colorPurple;
  border: 1px solid $colorPurple;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
._buttonOutline {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #344054;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
