@import "/src/Styles/_variables";
@import "/src/Styles/_mediaQuery";

.HeroSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5rem;
  color: white;
  height: inherit;
  min-height: 80vh;
  background: $colorLandingBG;
  @include for-size(phone-only) {
    flex-direction: column;
    gap: 0rem;
  }

  &__ContentBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-weight: 800;
      font-size: 5rem;
      line-height: 120%;
      color: white;
      text-transform: uppercase;
      margin: 0rem;
    }
    .subTitle {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 160%;
    }
  }

  &__ImgBox {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include for-size(phone-only) {
      justify-content: center;
    }

    img {
      width: 80%;
      height: auto;
    }
  }
}
