.LoginHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f6f8f9;

  &__brandContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      color: #b0babf;
    }
    img {
      width: 150px;
      height: auto;
    }
  }

  &__profileContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #b0babf;
  }
}

.react-tiny-popover-container {
  top: 10px !important;
  left: -80px !important;
  .ProfileDropdown {
    box-shadow: 1px 0px 12px 3px rgba(0, 0, 0, 0.055);
    height: fit-content;
    width: 200px;
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    &__user {
      font-weight: 500;
      font-size: 1.1rem;
      color: #667085;
      padding: 1rem 0rem;
      margin-top: 0px;
      border-bottom: 1px solid #eaecf0;
    }

    &__logout {
      margin-top: 0px;
    }
  }
}
